@version(2)
@load('./lang')
@php $hrb_thumb = $document->getThumbnail(480, 300, 'crop'); @endphp
<a class="hrb-card hr-card-hover @if ($document->isNotice()) is-notice @endif" href="{{ getUrl('document_srl', $document->document_srl) }}">
	<span class="hrb-card-thumb">
		@if ($hrb_thumb)<img src="{{ $hrb_thumb }}" alt="" loading="lazy" />
		@else<span class="hrb-card-noimg">{{ $document->getSummary(80) }}</span>@endif
	</span>
	<span class="hrb-card-body">
		@if ($hrb_cat && $document->get('category_srl') && isset($category_list[$document->get('category_srl')]))
		<em class="hrb-cat">{{ $category_list[$document->get('category_srl')]->title }}</em>
		@endif
		<strong class="hrb-card-title">
			@if ($document->isNotice())<span class="hr-badge">{{ $lang->notice ?? $lang->hrb_notice }}</span>@endif
			<span class="hrb-card-titletext">{{ $document->getTitleText() }}</span>
			@if ($document->getCommentCount())<em class="hrb-cmt">+{{ $document->getCommentCount() }}</em>@endif
		</strong>
		<span class="hrb-card-meta">
			@if ($hrb_author)<span>{{ $document->getNickName() }}</span>@endif
			<span>{{ hrb_relative_time($document->get("regdate")) }}</span>
			@if ($hrb_count)<span>{{ $lang->readed_count ?? $lang->hrb_read_count }} {{ number_format($document->get('readed_count')) }}</span>@endif
		</span>
	</span>
</a>
